.strattext {
  display: flex;
  flex-direction: column;
  background: var(--strat-bg);
  min-height: 526px;
  width: calc(100% + 90px);
  margin: 0 0 0 -40px;
  padding: 2rem;
}

.strattext h1 {
  font-size: 46px;
  margin-top: 1rem 0 1rem;
  margin-bottom: 1rem 0 1rem;
  text-align: center;
}

.strattext h2 {
  font-size: 34px;
  margin-top: 1rem 0 1rem;
  margin-bottom: 1rem 0 1rem;
  width: 100%;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.strattext h3 {
  font-size: 32px;
  margin-bottom: 1rem 0 1rem;
  width: 100%;
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.strattext p {
  font-size: 32px;
  line-height: 1.6;
  max-width: 800px;
  margin: 1rem auto;
  text-align: left;
}

.center-container {
  text-align: center; 
  margin-bottom: 1rem 0 1rem;
}

.left-aligned-text-box {
  display: inline-block; 
  text-align: left;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
}
  
.grid-container {
    display: grid;
    grid: 110px / auto auto auto; 
    margin: 0 0 0 0;
}

.grid-item {
    text-align: center;
}

.grid-item h2 {
    font-size: 40px;
    margin: 15px 0 15px 0;
}

.grid-item h3 {
    font-size: 25px;
    margin: 15px 0 15px 0;
}
