.strattext {
    display: inline-block;
    background: var(--strat-bg);
    height: 526px;
    width: calc(100% + 90px);
    text-align: center;
    position: relative;
    margin: 0 0 0 -40px;
}

.strattext h1 {
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.strattext h2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    font-size: 38px;
}

.strattext h3 {
    position: absolute; 
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 90%;
    font-size: 25px;
}

.grid-container {
    display: grid;
    grid: 110px / auto auto auto; 
    margin: 0 0 0 0;
}

.grid-item {
    text-align: center;
}

.grid-item h2 {
    font-size: 40px;
    margin: 15px 0 15px 0;
}

.grid-item h3 {
    font-size: 25px;
    margin: 15px 0 15px 0;
}