.strattext {
  display: flex;
  flex-direction: column;
  background: var(--strat-bg);
  min-height: 526px;
  width: calc(100% + 90px);
  margin: 0 0 0 -40px;
  padding: 2rem;
}

.strattext h1 {
  font-size: 46px;
  margin-top: 1rem 0 1rem;
  margin-bottom: 1rem 0 1rem;
  text-align: center;
}

.strattext h2 {
  font-size: 34px;
  margin-top: 1rem 0 1rem;
  margin-bottom: 1rem 0 1rem;
  width: 100%;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.strattext h3 {
  font-size: 32px;
  margin-bottom: 1rem 0 1rem;
  width: 100%;
  text-align: center;
  max-width: 90%;
  margin: auto;
}

.strattext p {
  font-size: 32px;
  line-height: 1.6;
  justify-content: center;
  display: inline-block; 
  text-align: left;      
  margin: 0 auto; 
}

.center-container {
  display: flex;
  text-align: center; 
  margin-bottom: 1rem 0 1rem;
  gap: 30px; 
}

.container-1, .container-2, .container-3, .container-4 {
  display: block; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  text-align: center;  
  width: 80%; 
  max-width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
}

.container-2, .container-4 {
  display: block;
}

.container-5 {
  display: block; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;  
  text-align: center;  
  width: 80%; 
  max-width: 90%;
  padding: 10px;
  border: none;
}

.grid-container {
    display: flex;
    grid: 110px / auto auto auto; 
    margin: 0 0 0 0;
    gap: 30px; 
}

.grid-item {
    text-align: center;
}

.grid-item h2 {
    font-size: 40px;
    margin: 15px 0 15px 0;
}

.grid-item h3 {
    font-size: 25px;
    margin: 15px 0 15px 0;
}
