.our-team {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.our-team .team-member {
    background: var(--background);
    text-align: center;
    border: solid var(--main-color) 2px;
    margin: 10px;
    padding: 20px;
    width: 350px;
    border-radius: 10px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.our-team .team-member .team-member-pfp {
    width: 80%;
    margin-left: 10%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--strat-bg);
    box-shadow: 0 0 30px var(--strat-bg);
}

.our-team .team-member .team-member-name {
    margin-top: 5px;
    margin-bottom: 5px;
}

.our-team .team-member .team-member-position {
    color: var(--main-color);
    font-weight: 600;
    font-size: 27px;
    margin-top: 5px;
    height: 65px;
}

.our-team .team-member .team-member-description {
    background-color: var(--blockquote-background);
    margin: 0 -20px -20px -20px !important;
    padding: 0 20px 20px 20px !important;
    border-radius: 10px;
}

.our-team .team-member .team-member-pad {
    min-height: 0px;
    background-color: var(--blockquote-background);
    margin: 0 -20px -20px -20px !important;
    padding: 0 20px 20px 20px !important;
    border-radius: 10px;
    flex: 1;
}