.hku {
    background: linear-gradient(to top, var(--main-color), rgba(0, 0, 0, 0) 100%), url("/Dummy-Website-Test/img/hku.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: calc(100% + 90px);
    height: 566px;
    object-fit: contain;
    text-align: center;
    position: relative;
    margin: -40px 0px 0 -40px;
}

.hku h2 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: #EEE;
}

.hku h1 {
    position: absolute; 
    top: 75%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    font-size: 70px;
    color: #EEE;
}